@import 'reset-css';
@import 'antd/dist/antd.css';

.App {
    width: 100%;
    min-height: 100vh;
    margin:0;
    padding: 0;
}

ol, ul, dl {
    margin: 0;
}

.header {
    color:#fff
}

.content {
    padding: 20px 50px;
}